---
import "../styles/layout.css";
import Nav from "../../components/Nav.astro";

export async function getStaticPaths() {
  const data = await fetch("https://rbqphrbsgztcnskkjdkq.supabase.co/rest/v1/Line-up", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJicXBocmJzZ3p0Y25za2tqZGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTM3NDcsImV4cCI6MjAyNjA2OTc0N30.GvR57uaKjzJt0jYC8QSdbKLWggMzwDIWHMRbaqtjL2U",
    },
  }).then((response) => response.json());

  console.log(data);

  return data.map((artists) => {
    return {
      params: { slug: artists.slug },
      props: { myData: artists },
    };
  });
}

const { myData } = Astro.props;
// console.log(myData);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Artists</title>
  </head>

  <body>
    <Nav />
    <h1>singleview</h1>
    <!-- <a href=`artists/${myData.slug}`> -->
    <h2>{myData.name}</h2>
    <img src=`/img/${myData.image}` alt=`Image of ${myData.name}` />
    <p>{myData.description}</p>
    <!-- </a> -->
  </body>

  <html></html>
</html>
